@model BookDataModel

<form action="/book/update/@Model.Id" method="post">
    <div class="mb-3">
        <label class="form-label">Book Title</label>
        <input type="text" value="@Model.Title" class="form-control" name="Title" placeholder="Book Title">
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input type="text" value="@Model.Author" class="form-control" name="Author" placeholder="Author">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" value="@Model.Price" class="form-control" name="Price" placeholder="Price">
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" value="@Model.Description" class="form-control" name="Description" placeholder="Book Description">
    </div>
    <div class="form-group mb-3">
        <label asp-for="PublishedDate" class="control-label"></label>
        <input asp-for="PublishedDate" class="form-control" />
    </div>
    @* <div class="">
    <label class="form-label">Book Cover</label>
    <div class="custom-file">
    <input type="text" class="form-control custom-file-input" name="bookImg" id="image" onchange="document.getElementById(imgPrv).src=window.URL.createObjectURL(this.files[0])">
    <label class="custom-file-label"></label>
    </div>
    <img id="imgPrv" width="150" style="" />
    </div> *@
    <div class="">
        <a type="button" class="btn btn-danger" href="/book">Cancel</a>
        <button type="submit" class="btn btn-primary" id="btnUpdate">Update</button>
    </div>
</form>