@model BookBlogApp.Models.BookDataModel

@{
    ViewData["Title"] = "Blog Create";
}

<form enctype="multipart/form-data" asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Book Title</label>
        <input asp-for="Title" type="text" class="form-control" name="Title" placeholder="Book Title">
    </div>
    <div class="mb-3">
        <label class="form-label">Author</label>
        <input asp-for="Author" type="text" class="form-control" name="Author" placeholder="Author">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input asp-for="Price" type="text" class="form-control" name="Price" placeholder="Price">
    </div>
    <div class="mb-3">
        <label class="form-label">Genre</label>
        <input asp-for="Genre" type="text" class="form-control" name="Genre" placeholder="Book Genre">
    </div>
    <div class="form-group mb-3">
        <label asp-for="PublishedDate" class="control-label"></label>
        <input asp-for="PublishedDate" class="form-control" />
    </div>
    <div class="">
        <label class="form-label"></label>
        <div class="custom-file">
            <input asp-for="BookImg" class="form-control custom-file-input" name="BookImg" id="image" onchange="document.getElementById(imgPrv).src=window.URL.createObjectURL(this.files[0])">
            <label class="custom-file-label"></label>
        </div>
        <img id="imgPrv" width="150" style="" />
    </div>
    <div class="form-group">
        <a type="button" class="btn btn-danger" href="/book">Cancel</a>
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        $("#.custom-file-input").on("change", funciton(){
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    }